*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;  
  
  }
  
  body{
      min-width: none;
      font-family: "TT Lakes", "Arial", sans-serif;
  }
  
  .header__inner {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 88px;
      align-items: center;
      justify-content:space-around;
      border-bottom: 1px solid;
      border-color: #D9FFF5;
  }
  
  .header__item{
      background-repeat: no-repeat;
      background-position: center;
      background-color: #FF3E79;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 10px;
      border: none;
  }
  
  .item--menu{
      background-image: url(img/icon.png);
  }
  
  .header__logo::after {
      content: "";
      position: absolute;
      height: 32px;
      width: 2px;
      margin-left: 10px;
      margin-top: 15px;
      background-color: #EAEAEA;
  }
  
  .item--work {
      background-image: url(img/work-icon.png);
  }
  
  .item--search  {
      background-image: url(img/search-icon.png);
  }
  
  .item--call{
      display: none;
  }
  
  .item--chat{
      display: none;
  }
  
  .item--profile{
      display: none;
  }
  
  .main__title {
  
      display: flex;
      flex-direction: row;
      gap: 16px;
  }
  
  .main__text-button{
      display: none;
  }
  
  .main__h-title {
      margin-top: 24px;
      font-size: 28px;
      line-height: 40px;
      font-weight: 700;
      position: relative;
      margin-left: 20px;
      white-space: nowrap;
  }
  
  .main__h-title::before {
      content: "";
      position: absolute;
      left: -20px;
      width: 4px;
      height: 40px;
      background-image: url(img/highlight.svg);
  }
  
  .main__menu-slider {
      overflow-x: auto;
      padding: 0;
      margin-top: 20px;
  }
  
  .main__menu-slider::-webkit-scrollbar{
      width: 0;
  }
  
  .main__menu-list{
      display: flex;
      flex-direction: row;
      margin-left: 20px;
      margin-top: 2%;
      width: 100%;
      white-space: nowrap;
      gap: 10px; 
  }
  
  .main__menu-item{
      height: 40px;
      padding-right: 10px;
      padding-top: 6px;
      border: 1px solid transparent;
  }
  
  .main__button{
     font-size: 16px;
     line-height: 24px;
     color: #7E7E82;
     height: 24px;
     margin-left: 10px;
     margin-top: 10px;
  }
  
  .main__menu-item:hover{
      border-color: #B8FFEC;
      border-radius: 6px;
  }
  
  .main__about-block {
      display: flex;
      flex-direction: column;
      margin-top: 15px;
      width: 100%;
  }
  
  .main__paragraph{
      margin-left: 25px;
  }
  
  .paragraph--more-info{
      display: none;
  }
  
  
  .main__readmore-block {
      display: flex;
      text-decoration: none;
      color: #1B1C21;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      font-weight: 550;
      border: none;
      background: transparent;
      margin-left: 25px;
  }
  .main__readmore-block::before{
      content: "";
      width: 24px;
      height: 24px;
      background-image: url(img/link-icon.png);
      background-repeat: no-repeat;
      margin-top: 6px;
  }
  
  @media (min-width: 768px) {
  
      body{
          max-width: 992px;
          margin: 0 auto;
      }
      
      .header__inner {
          display: flex;
          flex-direction: row;
          width: 100%;
          height: 88px;
          align-items: center;
          justify-content: flex-start;
          gap: 20px;
      }
  
      .item--menu {
          background-image: url(img/icon.png);
          margin-left: 20px;
      }
  
      .header__logo::after {
          display: none;
        
      }
      .header__logo::before {
          content: "";
          position: absolute;
          height: 32px;
          width: 2px;
          margin-left: -15px;
          margin-top: 15px;
          background-color: #EAEAEA;
      }
  
      .item--work {
          border: none;
          display: block;    
          position: relative;
          
      }
  
      .item--work::before{
          content: "";
          position: absolute;
          height: 32px;
          width: 2px;
          left:  -10px;
          top: 5px;
          background-color: #EAEAEA;
      }
  
  
      .item--search {
          background-image: url(img/search-icon.png);
          display: block;
          margin-right: 5%;
      }
  
      .item--call{
          background-image: url(img/call.png);
          display: block;
          margin-left: auto;
      }
  
      .item--chat{
          background-image: url(img/chat-icon.png);
          display: block;
      }
  
      .item--profile{
          background-image: url(img/profile-icon.png);
          display: block;
      }
  
      .paragraph--more-info {
          display: block;
      }
  
      .main__about-block {
          display: flex;
          flex-direction: row;
          margin-top: 15px;
          width: 100%;
      }
   }
   @media (min-width: 1120px){
      body{
          width: 1120px;
          margin-left: auto;
          margin-right: auto;
      }
      .header__inner {
          display: none;
      }
  
      .header__upper-menu {
          display: none;
      }
  
      .header__logo::after {
          display: none;
      }
      .header__logo::before {
          display: none;
      }
  
  
      .main__title {
          margin-top: 24px;
          display: flex;
          flex-direction: row;
          gap: 16px;
      }
  
      .main__text-button {
          display: flex;
          text-decoration: none;
          
          box-sizing: border-box;
          white-space: nowrap;
          align-items: center;
          gap: 10px;
          font-weight: 600;
          color: #1B1C21;
          
      }
   
      .main__text-button:nth-child(2){
          margin-left: 40%;
      }
  
      .button-work{
          height: 40px;
          width: 40px;
          border-radius: 50%;
          background-image: url(img/work-icon.png);
          background-position: center;
          background-repeat: no-repeat;
          background-color: #FF3E79;
          border: none;
          
      }
      
      .button-search{
          height: 40px;
          width: 40px;
          border-radius: 50%;
          background-image: url(img/search-icon.png);
          background-position: center;
          background-repeat: no-repeat;
          background-color: #FF3E79;
          border: none;
      }
  
      .main__menu-list{
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
      }
  
      .main__menu-slider {
          width: 1100px;
          overflow: visible;
          height: 82px;
          gap: 10px;
      }
  
      .main__about-block {
          display: flex;
          flex-direction: row;
          width: 100%;
          gap: 50px;
      }
  
      .main__info{
          width: 490px;
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 0,2px;
          color: #1B1C21;
  
      }
  
      .main__image{
          width: 100%;
          height: auto;
          object-fit: contain;
      }
   }